@use '@angular/material' as mat;

// Light theme (default)
html[data-theme="light"] {
    @include mat.theme((color: mat.$green-palette,
            typography: Roboto,
            density: 0));
}

// Dark theme
html[data-theme="dark"] {
    @include mat.theme((color: mat.$violet-palette,
            typography: Roboto,
            density: 0));
}

// Fallback for system preference
@media (prefers-color-scheme: light) {
    html:not([data-theme]) {
        @include mat.theme((color: mat.$green-palette,
                typography: Roboto,
                density: 0));
    }
}

@media (prefers-color-scheme: dark) {
    html:not([data-theme]) {
        @include mat.theme((color: mat.$violet-palette,
                typography: Roboto,
                density: 0));
    }
}